In [12]:
import pandas as pd

# Path file CSV
csv_file = '/Users/pnjrmdn/Documents/data_python'

# Membaca file CSV
dataframe = pd.read_csv('data_covid.csv')

# Menampilkan data
print(dataframe.head(15).iloc[:, :5])

          Date Location ISO Code     Location  New Cases  New Deaths
0   01/03/2020             ID-JK  DKI Jakarta          3           0
1   01/03/2020             ID-JB   Jawa Barat          3           0
2   02/03/2020             ID-JK  DKI Jakarta          2           0
3   02/03/2020               IDN    Indonesia          2           0
4   02/03/2020             ID-JB   Jawa Barat          0           0
5   03/03/2020             ID-JK  DKI Jakarta          2           0
6   03/03/2020               IDN    Indonesia          0           0
7   03/03/2020             ID-JB   Jawa Barat          1           1
8   04/03/2020             ID-JK  DKI Jakarta          2           0
9   04/03/2020               IDN    Indonesia          0           0
10  04/03/2020             ID-JB   Jawa Barat          1           0
11  05/03/2020             ID-JK  DKI Jakarta          0           1
12  05/03/2020               IDN    Indonesia          0           0
13  05/03/2020             ID-JB   Jawa Barat          0           0
14  06/03/2020             ID-BT       Banten          1           0

In [3]:
import pandas as pd
import mysql.connector

# Koneksi ke database MySQL
db_connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='test',
    port=3307
)

# Membaca file CSV
data = pd.read_csv('data_covid.csv')

# Membuat kursor database
cursor = db_connection.cursor()


# Menyimpan data ke dalam database
for index, row in data.iterrows():
    date = row['Date']
    loc_iso = row['Location ISO Code']
    location = row['Location']
    cases = row['New Cases']
    deaths = row['New Deaths']
    
    # Query INSERT
    insert_query = f"INSERT INTO data_covid (date, loc_iso, location, case, deaths) VALUES ('{date}', {loc_iso}, {location}, {deaths}, {cases})"
    cursor.execute(insert_query)

# Commit perubahan dan tutup koneksi
db_connection.commit()
cursor.close()
db_connection.close()

print("Data berhasil dimuat ke dalam database MySQL.")

NameError: name 'create_table_query' is not defined